<% form_for @employee do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :born_on %><br />
    <%= f.date_select :born_on, :start_year => 80.years.ago.year, :end_year => 15.years.ago.year  %>
  </p>
  <p>
    <strong>Positions</strong>
    <br />
    <% Position.all.each do |position| %>
      <%= check_box_tag "employee[position_ids][]", position.id, @employee.has_position?(position) %>
      <label><%= position.name %></label><br />
    <% end %>
    <%= link_to_function "Add Position" do |page|
          page.insert_html(:bottom, :position_fields, :partial => "positions/fields")
          page.show("position_fields")
        end
     %><br />
    <ul id="position_fields" style="display: none;"></ul>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
