<% form_for @employee do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :clockin_id, "Unique identifier for employee" %><br />
    <%= f.text_field :clockin_id, :autocomplete => "OFF" %>
    <span class="message" id="clockin_id_msg"></span>
  </p>
  <p>
    <%= f.label :born_on %><br />
    <%= f.calendar_date_select :born_on, :year_range => (90.years.ago..16.years.ago), :onclick => %(enableCalendar())  %>
  </p>
  <p>
    <strong>Positions</strong>
    <br />
    <% Position.all.each do |position| %>
      <%= check_box_tag "employee[position_ids][]", position.id, @employee.has_position?(position) %>
      <label><%= position.name %></label><br />
    <% end %>
    <%= link_to_function "Add Position" do |page|
          page.insert_html(:bottom, :position_fields, :partial => "positions/fields")
          page.show("position_fields")
        end
     %><br />
    <ul id="position_fields" style="display: none;"></ul>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

<%= observe_field :employee_clockin_id, :url => validate_clockin_id_available_employees_path, :frequency => 0.5, :with => 'employee_clockin_id', :update => "clockin_id_msg" %>