<% title "Edit Employee" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @employee %> |
  <%= link_to "View All", employees_path %>
</p>

<% if @content_for_sidebar %>
  <% content_for :sidebar do %>
    <h1>New Employee</h1>
    <ul>
      <li><strong>Positions</strong></li>
      <% Position.all.each do |position| %>
        <li><%= position.name %></li>
      <% end %>
      <li><%= link_to "Add Position", new_position_path %></li>
    </ul>
  <% end %>
<% end %>