<% title "Positions" %>

<table>
  <tr>
    <th>Name</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% for position in @positions %>
    <tr>
      <td><%=h position.name %></td>
      <td><%= link_to icon("eye",:alt => "Show", :title => "Show"), position %></td>
      <td><%= link_to "Edit", edit_position_path(position) %></td>
      <td><%= link_to icon("cross-circle-frame"), position, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Position", new_position_path %></p>
