<% form_for @store do |f| %>
  <fieldset>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :store_no %><br />
    <%= f.text_field :store_no %>
  </p>
  
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city_id %><br />
    <%= f.collection_select :city_id, City.find(:all, :order => "name ASC"), :id, :name %> or type it <%= f.text_field :manual_city, :size => 6 %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.select :state, State.list, :selected => "NE" %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.select :country, Country.list, :selected => "United States" %>
  </p>
  <p>
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode, :size => 8 %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p><%= image_submit_tag "buttons/default/button-save.png" %> <%= link_to_function(image_tag("buttons/default/button-cancel.png"), %(javascript:history.back()))%></p>
  </fieldset>
<% end %>
