<% title "Stores" %>

<% content_for :hints do %>
  <h1 class="hint">Stores</h1>
  <p>You can drag drop stores to adjust the order which they are displayed. NOTE: This will also change the order in which the tickets are printed. <strong>USE CAUTION</strong>.</p>
<% end %>

<ul id="stores">
  <%= render :partial => @stores %>
</ul>

<% content_for :sidebar do %>
  <% form_remote_tag :url => search_stores_path do %>
    <%= icon "magnifier-medium" %> <%= text_field_tag :store_name %> <%= image_submit_tag "buttons/default/button-search.png", :style => "vertical-align: bottom" %>
  <% end %>
  
  <%= button "Add Store", new_store_path %>
  
  <%= button "PDF Store List", stores_path(:format => :pdf) %>
  
  <div style="margin: 1em;">
    <h2>Routes</h2>
    <p>You can drag stores to a Routes Drop Zone to add the store to that route. <%= link_to_facebox "Add a route", new_route_path %></p>
  </div>
  
  <ul id="routes">
    <%= render :partial => @routes %>
  </ul>
  
  <% @stores.each do |store| %>
    <%= draggable_element("#{store.id}_store_route_droppable", {:revert => true})%>
  <% end %>
  
  <% @routes.each do |route| %>
    <%= drop_receiving_element("route_#{route.id}", :url => {:controller => "routes", :action => "add_store", :id => route.id}, :method => :put, :with => "'store_id='+ escape(element.id) +''")%>
  <% end %>
<% end %>

<%= sortable_element("stores", :url => sort_stores_url, :method => :post, :scroll => "'stores'", :ghosting => true, :hoverclass => "'store_hover'") %>