<% title "Stores" %>

<ul id="stores">
  <% for store in @stores %>
    <% content_tag_for :li, store do %>
      <div class="span-12 handle">
        <%= link_to h(store.display_name), store %></br> 
      </div>
      <%= link_to icon('eye'), store %> 
      <%= link_to icon('pencil'), edit_store_path(store) %> 
      <%= link_to icon("cross-circle-frame"), store, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  <% end %>
</ul>

<% content_for :sidebar do %>
  <%= button "Add Store", new_store_path %>
<% end %>

<%= sortable_element("stores", :url => sort_stores_url, :handle => "handle", :method => :post) %>