<% title h(@store.display_name) %>
<% content_tag :p do %>
  <strong>Store No:</strong>
  <%=h @store.store_no %>
<% end if @store.store_no %>

<p>
  <strong>Address:</strong>
  <%=h @store.address %><br />
  <%=h @store.city.name if !@store.city.nil? %>, <%=h @store.state %> <%=h @store.country %><br />
  <%=h @store.zipcode %><br />

  <% if @store.phone %>
    <%=h @store.phone %><br />
  <% end %>
  
  <% if @store.fax %>
    <%=h @store.fax %><br />
  <% end %>
  
  <%= link_to h(@store.email), "mailto:#{h(@store.email)}" %>
  <%=h @store.url if @store.url %>
</p>

<p>
  <%= link_to "Edit", edit_store_path(@store) %> |
  <%= link_to "Destroy", @store, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", stores_path %>
</p>

<div id="delivery_schedule">
<table>
  <tr>
    <th colspan="7">
      Default Delivery Schedule
    </th>
  </tr>
  <tr>
    <% %w(sun mon tue wed thu fri sat).each do |day| %>
      <th><%= day.upcase %></th>
    <% end %>
  </tr>
  <tr>
    <% @store.delivery_presets.sort_by{|dp| dp.day_of_week }.each do |dp| %>
      <td>
        <ul>
        <% dp.line_items.each do |line_item| %>
          <li><small><%= line_item.quantity %> <%= line_item.item.name %></small></li>
        <% end %>
          <li><%= link_to "Edit", edit_store_delivery_preset_path(@store,dp) %></li>
        </ul>
      </td>
    <% end %>
  </tr>
</table>
</div>

<% content_for :sidebar do %>
  <%= button "Order History", delivered_store_deliveries_path(@store) %>

  <% if @current_user.super? %>
    <% if @store.user %>
      <p>This store belongs to <%= link_to @store.user.username, @store.user %></p>
  <% else %>
    <p>This store does <strong>NOT</strong> have a user account. Please add an email address to create their account.</p>
  <% end %>
    <br />
  <% end %>
  
  <p>The "Default Delivery Schedule" will be invoked automatically each weekday. However you can modify the resulting ticket at anytime before printing the tickets for the corresponding day of the week.</p>
<% end %>