- title "Edit Employee"

= render :partial => 'form'

%p
  = link_to icon("eye",:alt => "Show", :title => "Show"), admin_employee_path(@employee) 
  |
  = link_to "View All", admin_employees_path

- if @content_for_sidebar
  - content_for :sidebar do
    %h1 New Employee
    %ul
      %li
        %strong Positions
      - Position.all.each do |position|
        %li
          = position.name
      %li
        = link_to "Add Position", new_admin_position_path
