<div style="padding: 1em; background-color: #E5F4A8;">
  <p>
    <%= image_tag "logo.png", :alt => "Katies Daylight Donuts", :host => "http://katiesdaylightdonuts.com" %><br />
  </p>

  <p>Delivery is complete!</p>

  <ul>
    <li>Created: <%= @delivery.created_at %></li>
    <li>Location: <%= @delivery.location.address_option %></li>
    <li>Status: <%= @delivery.state %></li>
    <li>Assigned To: <%= @delivery.employee.fullname %></li>
    <li><%= link_to "View", delivery_url(@delivery, :host => "www.katiesdaylightdonuts.com") %></li>
  </ul>
</div>