<div style="padding: 1em; background-color: #E5F4A8;">
  <p>
    <%= image_tag "logo.png", :alt => "Katies Daylight Donuts" %><br />
  </p>

  <p>A new delivery has been created. See the details below.</p>

  <ul>
    <li>Created: <%= @delivery.created_at %></li>
    <li>Store: <%= @delivery.store.address_option %></li>
    <li>Status: <%= @delivery.state %></li>
    <li>Assigned To: <%= @delivery.employee.fullname %></li>
    <li><%= link_to "View", delivery_url(@delivery, :host => "www.katiesdaylightdonuts.com") %></li>
  </ul>
</div>