<% fields_for "delivery_preset[line_items][]", line_item, :index => nil do |line_item_field| %>
<% if line_item.item.nil? %>
    <tr>
      <td><%= line_item_field.collection_select :item_id, Item.all, :id, :name %></td>
      <td>&nbsp;</td>
      
      <td align="right"><%= line_item_field.text_field :quantity, :value => line_item.quantity, :size => 5, :autocomplete => "off" %></td>
      <td align="right" style="text-align: right;">
        <%= line_item_field.text_field :price, :value => line_item.price, :size => 10, :class => "price", :tabindex => -1 %>
      </td>
      <td>&nbsp;</td>
    </tr>    
<% else %>
  <tr>
    <td><strong><%= line_item.item.name.titleize %></strong></td>
    <td><strong><%= line_item.item.item_type.titleize %></strong></td>
    <td align="right"><%= line_item_field.text_field :quantity, :value => line_item.quantity, :size => 5, :class => "quantity", :id => "line_item_quantity_field_#{line_item.object_id}", :autocomplete => "off" %> Units.</td>
    <td align="right" style="text-align: right;">
      <%= line_item_field.text_field :price, :value => line_item.item.price, :size => 10, :class => "price", :tabindex => -1 if @current_user.super?  %>
      <%= line_item_field.hidden_field :item_id, :value => line_item.item.id %>
    </td>
    <td><%= link_to(icon("pencil-small"), edit_admin_item_path(line_item.item)) %></td>

  </tr>
<% end %>
<% end %>