<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username, :readonly => !@user.new_record? %>
  </p>
  <p>
    <%= f.label :email %><br />
   <%= icon "mail" %> <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :time_zone %><br />
    <%= icon "clock-frame" %>  <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
  </p>
  <p>
    <%= f.check_box :api_enabled, :onchange => %(if(!this.checked){ new Effect.BlindUp('api_key') }else{ Effect.Shake('api_key') }) %> <%= f.label :api_enabled %>
  </p>
  <p>
    <%= api_key @user %>
    &nbsp;
  </p>
  <p>
    <%= f.label :password %><br />
    <%= icon "lock" %> <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= icon "lock" %> <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
