<% title "Users" %>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Roles</th>
    <th style="width: 100px;">&nbsp;</th>
  </tr>
  <% for user in @users %>
  <tr onMouseOver="$('actions_for_<%= user.object_id %>').show();" onMouseOut="$('actions_for_<%= user.object_id %>').hide();">
    <td><%= link_to h(user.username), user %></td>
    <td><%= mail_to h(user.email), h(user.email) %></td>
    <td><%= user.roles.map(&:name).join(", ") %></td>
    <td><span style="display: none;" id="actions_for_<%= user.object_id %>"><%= link_to icon("pencil-small"), edit_user_path(user) %> <%= link_to icon("cross-circle-frame"), user, :method => :delete, :confirm => "Are you sure you want to delete this user?" unless user.admin? %></span></td>
  </tr>
  <% end %>
</table>

<% content_for :sidebar do %>
  <%= button "Add User", new_user_path %>
  <h2>User Accounts</h2>
  <p>User accounts give your staff access to the app.
    Create an manage users using this page.</p>
  
  <p>You can revoke access at any time by removing a user account.</p>
  
  <h2>Admin Account</h2>
  <p>The admin account <strong>can not</strong> be removed. You need at least one account to access the app at all times.</p>
<% end %>