<% title "Users" %>

<%= will_paginate @users %>
<br />
<table class="stripe">
  <thead>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Roles</th>
    <th style="width: 100px;">&nbsp;</th>
  </tr>
  </thead>
  <tbody id="users">
    <%= render :partial => @users %>
  </tbody>
</table>

<%= will_paginate @users %>

<% content_for :sidebar do %>
<% form_remote_for :users, :url => search_users_path do %>
  <fieldset>
    <legend>Search by username or email</legend>
  <%= text_field_tag :q %> <%= image_submit_tag "../images/buttons/default/button-search.png", :style => "vertical-align: bottom" %>
  </fieldset>
<% end %>
  <%= facebox_button "Add User", new_user_path %>
  <h2>User Accounts</h2>
  <p>User accounts give your staff access to the app.
    Create an manage users using this page.</p>
  
  <p>You can revoke access at any time by removing a user account.</p>
  
  <h2>Admin Account</h2>
  <p>The admin account <strong>can not</strong> be removed. You need at least one account to access the app at all times.</p>
<% end %>