<fieldset class="span-10">
  <h1><%= @schedule.new_record? ? "Add" : "Edit" %> Schedule for <%= @date.strftime("%m/%d/%Y") %></h1>
  <div id="schedule_message" style="display: none;"></div>
  <%= f.hidden_field :work_date %>
  <p>
    <%= icon "user-business" %> <%= f.label :employee_id, "Employee:" %><br />
    <%= f.collection_select :employee_id, Employee.all, :id, :fullname %>
  </p>
  <p>
    <%= icon "clock" %> <%= f.label :starts_at, "Start:" %><br />
    <%= f.twelve_hour_select :schedule, :starts_at, :selected => @date %>
  </p>
  <p>
    <%= icon "clock" %> <%= f.label :ends_at, "End:" %><br />
    <%= f.twelve_hour_select :schedule, :ends_at, :selected => @date %>
  </p>
  <%= f.hidden_field :work_date, :value => @date.to_date %>
  <%= image_submit_tag "buttons/default/button-save.png" %> <%= link_to_function(image_tag("buttons/default/button-cancel.png"),%(facebox.close())) %>
</fieldset>