<table class="span-14">
  <thead>
    <tr>
      <% %w(mon tue wed thu fri sat sun).each do |day| %>
        <th><%= day == Time.zone.now.strftime("%a").downcase ? "<span class='current_weekday'>#{day.titleize} (Today)</span>" : day.titleize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% %w(mon tue wed thu fri sat sun).each do |day| %>
      <% schedules = @this_weeks_schedules.collect{|s| s if s.work_date.strftime("%a").downcase == day } %>
      <td style="width: 250px">
        <% unless schedules.any? %>
          OFF<br /> <%= link_to_facebox "New", new_employee_schedule_path(@employee) %><br />
        <% else %>
          <% schedules.each do |schedule| %>
            <% next if schedule.nil? %>
            <span id="schedule_<%= schedule.id %>">
              <%= render :partial => "schedule_week", :locals => {:schedule => schedule} %>
            </span>
            <small><%= link_to_facebox "Edit", edit_employee_schedule_path(schedule.employee,schedule) %> <%= link_to "Destroy", employee_schedule_path(schedule.employee,schedule), :confirm => "Are you sure?", :method => :delete %></small><br />
          <% end %>
        <% end %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>

<% content_for :sidebar do %>
  <h1><%= @employee.fullname %></h1>
  <div class="store-balance">
    Total: <%= pluralize(@total_hours,"Hour") %>
  </div>
  <small>Schedule for: <%= Time.zone.now.at_beginning_of_week.strftime("%m/%d/%Y") %> - <%= Time.zone.now.at_end_of_week.strftime("%m/%d/%Y") %></small>
  <%= button "Print Schedule", employee_schedule_path(@schedule.employee,@schedule, :format => :pdf) %>
<% end %>