<ul id="links" class="span-24">
  <% if current_user %>
    <% if @current_user.has_role?(:admin) %>
      <li class="<%= current "dashboards" %>"><%= link_to "#{icon("dashboard")} Dashboard", dashboards_path %></li>
      <li class="<%= current "schedules" %>"><%= link_to "#{icon("calendar")} Schedule", schedules_path %></li>
      <li class="<%= current "users" %>"><%= link_to "#{icon("users")} Users",  users_path %></li>
      <li class="<%= current "employees" %>"><%= link_to "#{icon("user-business")} Employees",  employees_path %></li>
      <li class="<%= current "items" %>"><%= link_to "#{icon("flask")} Items", items_path %></li>
      <li class="<%= current "stores" %>"><%= link_to "#{icon("store")} Stores ( #{Store.count} )",  stores_path %></li>
    <% end %>
  <% if !@current_user.admin? && @current_user.customer? %>
  <li class="<%= current "stores" %>"><%= link_to "#{icon("store")} #{@current_user.store.nil? ? 'Add' : 'My'}  Store",  @current_user.customer_with_store? ? user_store_path(@current_user,@current_user.store) : new_user_store_path(@current_user) %></li>
  <% end %>
  
    <% if @current_user.system_user? %>
    <li class="<%= current "buy_backs" %>"><%= link_to "#{icon("money")} Buy Backs",  buy_backs_path %></li>
    
      <li class="<%= current "deliveries" %>">
        <%= link_to "#{icon("wooden-box-label")} Deliveries (#{Delivery.by_date.pending.count})", pending_deliveries_path %>
      </li>
    <% elsif @current_user.customer_with_store? %>
      <li class="<%= current "deliveries" %>">
        <%= link_to "#{icon("wooden-box-label")} My Deliveries", store_pending_deliveries_path(@current_user.store) %>
      </li>
    <% end %>
  <% else %>
  <li class="<%= current "user_session" %>">
    <%= link_to "Login", login_url %>
  </li>
  <% end %>
</ul>