<ul>
  <li>
    <% if false #facebook_session && @current_user %>
    <span class="fb_pic">
      <%= fb_profile_pic(facebook_session.user,:size => :thumb, 'facebook-logo' => true) %>
    </span>
    <% end %>
  </li>
  <% if current_user %>
  <li class="username">
    ( <%= @current_user.username %> )
  </li>
  <% if @current_user.super? %>
  <li class="<%= current "settings" %>">
    <%= link_to_facebox "Settings", edit_setting_url(Setting.for_application) %>
  </li>
  <% end %>
  <li class="<%= current "users" %>">
    <%= link_to_facebox "My Account", edit_user_path(current_user.record) %>
  </li>
  <li class="<%= current "user_session" %>">
    <%= link_to_function "Logout", %(logout()) %>
  </li>
  <li>
    <%= link_to "Help",  faqs_path %>
  </li>
  <% end %>
</ul>