<table>
  <tr>
    <% if @current_user.admin? %>
      <th>&nbsp;</th>
    <% end %>
    <th>Address</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <tr>
    <% if @current_user.system_user? %>
      <td>
        <%= check_box_tag "delivery_ids[]", delivery.id, {}, {:class => "checkbox"} %>
      </td>
    <% end %>
    <td><span style="width: 150px;"><%= link_to delivery.store.to_google, store_delivery_path(delivery.store,delivery) %></span></td>
    <td align="right">
    <%= link_to image_tag("icons/pdf.gif", :style => "vertical-align: middle;"), @current_user.system_user? ? delivery_path(delivery, :format => :pdf) : store_delivery_path(@current_user.store, delivery, :format => :pdf) %>
    <% if delivery.delivered? && delivery.buy_backs.empty? %>
      <%= link_to icon("money"), new_store_delivery_buy_back_path(delivery.store, delivery) %>
    <% end %>
    <% if false %>
    <div id="ticket_for_<%= delivery.object_id %>" style="display: none;">
      <%= render :partial => "ticket", :locals => {:delivery => delivery } %>
    </div>
    <%= link_to icon("ticket"), "#ticket_for_#{delivery.object_id}", {:rel => "ibox&width=600&height=500", :onclick => %($('#ticket_for_#{delivery.object_id}').show())} %> 
    <% end %>
    
    <%= link_to_facebox(icon("balloon-left"), new_delivery_comment_path(delivery)) %>
    <%= link_to icon("eye",:alt => "Show", :title => "Show"), delivery %></td>
    <td align="right"><%= link_to icon("pencil-small"), edit_delivery_path(delivery) %></td>
    <td align="right"><%= link_to icon("cross-circle-frame"), delivery, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
    <tr>
      <td colspan="5"><strong id="comments_count_for_<%= delivery.id %>"><%= delivery.comments.size %> Comments</strong></td>
    </tr>
  <tr>
    <td colspan="5">
      <ol id="comments_for_<%= delivery.id %>">
        <%= render :partial => "deliveries/comment", :collection => delivery.comments %>
      </ol>
    </td>
  </tr>
</table>