<% form_for @delivery do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :delivery_date %><br />
    <%= f.calendar_date_select :delivery_date, :onclick => %(enableCalendar()), :year_range => (Time.now..3.years.from_now), :value => Time.now.strftime("%B %d, %Y %I:%m %p") %>
  </p>
  
  <% if @current_user.super? %>
  <p>
    <%= f.label :store_id %><br />
    <% if Store.count > 0 %>
      <%= f.collection_select :store_id, Store.all_by_position, :id, :display_name %>
      <%= link_to "Add a new store", new_store_path %>
    <% end %>
  </p>
  <% else %>
    <%= f.hidden_field :store_id, :value => @current_user.store.object_id %>
  <% end %>
  
  <% if @current_user.super? %>
    <% if Employee.drivers.size > 0 %>
    <p>
      <%= f.label :employee_id, "Driver" %><br />
      <%= f.collection_select :employee_id, Employee.drivers, :id, :fullname %>
    </p>
    <% end %>
  <% else %>
    <%= f.hidden_field :employee_id, :value => Employee.drivers.first unless Employee.drivers.empty? %>
  <% end %>
    <br />
    
    <p>
      <%= icon "lock" %> <%= f.check_box :locked %> <%= f.label :locked %>
    </p>
  

  <table style="width: 100%;" id="line_items">
    <tr>
      <th>Name</th>
      <th><%= "Type" if @current_user.super? %></th>
      <th>Quantity</th>
      <th><%= "Price"  if @current_user.super? %></th>
      <th>&nbsp;</th>
    </tr>
    
    <% Item.available.each do |item| %>
      <% if line_item = @delivery.line_items.detect{|li| li.item == item} %>
        <%= render :partial => "deliveries/line_item", :object => line_item %>
      <% else %>
        <%= render :partial => "deliveries/line_item", :object => @delivery.line_items.build(:quantity => 0, :item => item) %>
      <% end %>
    <% end %>
  </table>
  <%= image_submit_tag "buttons/default/button-save.png" %>
  
<% end %>

<% content_for :sidebar do %>
  <%= delivery_action_link(@delivery, true) %>  
<% end %>

<%= observe_field :delivery_store_id, :url => { :controller => "stores", :action => "presets", :format => :js}, :with => 'id' %>


<div id="no_drivers_alert" style="display: none;">
  Please assign atleast one <%= link_to 'Employee', employees_path %> as a driver first. Then come back and create the delivery.
</div>
<a id="no_drivers_alert_link" href="#no_drivers_alert" rel="ibox&amp;width=200&amp;height=80">&nbsp;</a>

<script type="text/javascript" charset="utf-8">
  document.observe("dom:loaded", function() {
    $('no_drivers_alert_link').onclick();
  });
</script>