<% form_for @delivery do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :delivery_date %><br />
    <%= f.calendar_date_select :delivery_date, :onclick => %(enableCalendar()), :year_range => (Time.now..3.years.from_now) %>
  </p>
  <p>
    <%= f.label :location_id %><br />
    <% if Customer.count > 0 %>
      <%= f.collection_select :location_id, Location.all(:include => :customer), :id, :address_option %>
    <% end %>
  </p>
  <% if Employee.drivers.size > 0 %>
  <p>
    <%= f.label :employee_id %><br />
    <%= f.collection_select :employee_id, Employee.drivers, :id, :fullname %>
  </p>
  <% end %>
  <br />
  <table id="items_table" style="display: <%= @delivery.items.empty? ? 'none' : '' %>">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody id="items">
      <% for line_item in @delivery.line_items %>
        <%= render :partial => "line_item_form", :locals => {:delivery_line_item => line_item} %>
      <% end %>
      <tr>
      </tr>
    </tbody>
  </table>
  <%= f.submit :save %>
  
<% end %>

<% content_for :sidebar do %>
  <%= delivery_action_link(@delivery, true) %>
  <br />
  <p>Select an item from the list and click "add item" ti add an existing item. You can also click "New item" to add a new item.</p>
  
  <%= collection_select :item, :id, Item.available, :id, :name %>
  <label>QTY:</label> <%= text_field_tag :item_quantity, nil, :value => 12, :size => 3 %><br />
  <%= button_to_remote "Add Item", :url => add_item_delivery_path(@delivery), :with => "'item_id=' + $('item_id').value + '&quantity='+$('item_quantity').value" %>
  
<% end %>
