<% if line_item.new_record? %>
  <% fields_for line_item do |builder| %>
  <tr style="background: #D7D7D7; padding: 1em;" id="<%= line_item.id %>">
    <td>  
      <%= builder.collection_select :item_id, Item.all, :name, :id %>
    </td>
    <td>
      <%= builder.text_field :item_type %>
    </td>
    <td>
      <%= builder.text_field :quantity %>
    </td>
    <td>
      <%= builder.text_field :price %>
    </td>
  </tr>
  <% end %>
<% else %>
<tr style="background: #D7D7D7; padding: 1em;" id="<%= line_item.id %>">
  <td>  
    <%= line_item.item.name %>
  </td>
  <td>
    <%= line_item.item.item_type %>
  </td>
  <td>
    <%= line_item.quantity %>
  </td>
  <td>
    <%= number_to_currency(line_item.price) %>
  </td>
</tr>
<% end %>