<% title "Edit Delivery ##{@delivery.id}" %>


<% content_for :toolbar do %>
<form action="" method="get" id="delivery_fetch_form">
  <%= icon("arrow-180") if @delivery.previous %> <%=
  link_to("Previous", edit_delivery_path(@delivery.previous)) if @delivery.previous
  %>
  <input type="text" id="delivery_id" value="<%= @delivery.id %>" size="4" />
  <input type="button" value="Fetch" onclick="$('delivery_fetch_form').action = '/deliveries/' + $('delivery_id').value + '/edit';$('delivery_fetch_form').submit()" class="none" />
  <%=
  link_to("Next", edit_delivery_path(@delivery.next)) if @delivery.next
  %> <%= icon("arrow") if @delivery.next %>
</form>
<% end %>

<%= render :partial => 'form' %>

<% content_for :sidebar do %>
  <div class="side content">
    <%= render :partial => "presets" %>
  </div>
<% end %>

