<% title(@controller.action_name =~ /index/ ? "Deliveries" : "Deliveries / #{@controller.action_name.titleize}") %>


<% @deliveries.group_by{|d| d.created_at.strftime("%m/%d/%Y") }.each do |created,deliveries| %>
  <h2 class="date"><%= created %></h2>
  <% deliveries.group_by{|d| d.customer }.each do |customer, deliveries| %>
  <h2><%= customer.name %></h2>
  <ul>
    <% deliveries.each do |delivery| %>
      <li style="padding: 0.2em; background: #eee; margin-top: 0.6em;">
      <p><%= delivery.location.full_address %></p>
      <%= delivery.delivery_time %><br />
        <%= link_to "Show", delivery %>
        | <%= link_to "Edit", edit_delivery_path(delivery) %> 
        | <%= link_to "Destroy", delivery, :confirm => 'Are you sure?', :method => :delete %>  
      </li>
    <% end %>
  </ul>
  <% end %>
<% end %>


<% content_for :toolbar do %>
  <% if Delivery.pending.size > 0 %>
    <%= link_to "Show Route", map_deliveries_path, :class => "toolbutton" %>
  <% end %>
  <%= link_to "Pending", pending_deliveries_path, :class => "toolbutton" %> <%= link_to "Delivered", delivered_deliveries_path, :class => "toolbutton" %>
<% end %>

<% content_for :sidebar do %>
  <%= button "Add Delivery", new_delivery_path %>
  <h2>Recent Deliveries</h2>
  <ol>
    <% Delivery.recent.group_by{|d| d.customer }.each do |customer, deliveries| %>
      <li>
      <strong><%= customer.name %></strong><br />
      <% deliveries.each do |delivery| %>
        <%= delivery.location.full_address %>, <%= delivery.delivery_time %><br /><br />
      <% end %>
      </li>
    <% end %>
  </ol>
<% end %>
