<% title(@controller.action_name =~ /index/ ? "Deliveries" : "Deliveries / #{@controller.action_name.titleize}") %>


<% @deliveries.group_by{|d| d.created_at.strftime("%m/%d/%Y") }.each do |created,deliveries| %>
  <% deliveries.group_by{|d| d.customer }.each do |customer, deliveries| %>
    <div class="span-16" style="margin: 1em 0;padding: 1em 0.6em; background: #eee; border: 1px solid #aaa">
      <strong>
        <%= customer.name %>
        <%= icon "calendar-day" %> <%= created %>
      </strong>
    </div>
    <% deliveries.each do |delivery| %>
      <table>
        <tr>
          <th>Address</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
        <tr>
          <td><%= delivery.location.to_google %></td>
          <td><%= link_to icon("eye",:alt => "Show", :title => "Show"), delivery %></td>
          <td><%= link_to icon("pencil-small"), edit_delivery_path(delivery) %></td>
          <td><%= link_to icon("cross-circle-frame"), delivery, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      </table>
    <% end %>

  <% end %>
<% end %>


<% content_for :toolbar do %>
  <% if Delivery.pending.size > 0 %>
    <%= link_to "Show Route", map_deliveries_path, :class => "toolbutton" %>
  <% end %>
  <%= link_to "Pending", pending_deliveries_path, :class => "toolbutton" %> <%= link_to "Delivered", delivered_deliveries_path, :class => "toolbutton" %>
<% end %>

<% content_for :sidebar do %>
  <%= button "Add Delivery", new_delivery_path %>
  <h2>Deliveries</h2>
  (<%= Delivery.pending.count %>) <%= link_to "Pending Deliveries", pending_deliveries_path %><br />
  (<%= Delivery.delivered.count %>) <%= link_to "Delivered Deliveries", delivered_deliveries_path %>
<% end %>
