<% title(@controller.action_name =~ /index/ ? "#{'My ' unless @current_user.system_user?} Deliveries" : "#{'My ' unless @current_user.system_user?}Deliveries / #{@controller.action_name.titleize}") %>

<% content_for :hints do %>
  <h1 class="hint">Welcome <%= @current_user.username %>,</h1>
  <p>You can create, update and cancel a delivery by using the tools below. When a delivery changes we will be notified by email and update the order.</p>
<% end %>

<% form_for "deliveries[]", :id => nil, :url => {:controller => "deliveries", :action => "update_status"} do |f| %>

<div style="border: 2px solid #ebebeb; padding: 0.5em; margin: 0.5em;">
   <select id="message" name="message">
     <% unless params[:action] == "delivered" %>
       <option value="deliver">Delivered</option>
    <% end %>
    <% unless params[:action] == "pending" %>
      <option value="undeliver">Pending</option>
    <% end %>
    <% unless params[:action] == "canceled" %>
      <option value="cancel">Cancel</option>
    <% end %>
    <% unless params[:action] == "printed" %>
      <option value="print">Printed</option>
    <% end %>
   </select>
   &nbsp;
   <%= link_to_function "Select All" do |page|
     page.select('.checkbox').each{|element| element.checked = true }
   end %>
   &nbsp;
   <%= link_to_function "Select None" do |page|
      page.select('.checkbox').each{|element| element.checked = false }
    end %>
    <%= check_box_tag :print %> Print Selected &nbsp;
    <%= image_submit_tag "buttons/default/button-save.png", :style => "vertical-align: middle;" %>
</div>

<div id="deliveries">
<% if @deliveries.empty? %>
  <% Store.all.each do |store| %>
    <%= render :partial => "store_header", :locals => {:store => store} %>
    <span id="deliveries_for_store_<%= store.id %>">
    </span>
  <% end %>
<% else %>
  <% @deliveries.group_by{|d| d.delivery_date.strftime("%m/%d/%Y") }.each do |created,deliveries| %>
    <% deliveries.sort_by{|d| d.store.position }.group_by{|d| d.store }.each do |store, deliveries| %>
    <% next if store.nil? %>
      <%= render :partial => "store_header", :locals => {:store => store, :created => created} %>
      <span id="deliveries_for_store_<%= store.id %>">
        <%= render :partial => deliveries, :locals => {:builder => f} %>
      </span>
    <% end %>
  <% end %>
<% end %>
</div>

<div style="border: 2px solid #ebebeb; padding: 0.5em; margin: 0.5em;">
  <%= link_to_function "Select All" do |page|
     page.select('.checkbox').each{|element| element.checked = true }
   end %>
   &nbsp;
   <%= link_to_function "Select None" do |page|
      page.select('.checkbox').each{|element| element.checked = false }
    end %>
  <%= image_submit_tag "buttons/default/button-save.png", :style => "vertical-align: middle;" %>
</div>

<% end %>


<% content_for :toolbar do %>
  <div class="span-14">
    <% form_remote_for :deliveries,:url => search_deliveries_path,:loading => %(showProgressBar()),:complete => %(hideProgressBar()) do %>
      <label>Keywords</label><%= text_field_tag :q %> <%= submit_tag :search %>
    <% end %>
  </div>
<% end %>


<% content_for :sidebar do %>
  <%= button_to_remote "Generate Today's Tickets", :url => generate_todays_deliveries_path, :loading => %(showProgressBar('Generating #{Delivery.pending.by_date.unprinted.count} tickets... Please Wait...')), :complete => %(hideProgressBar()) %>
  <%#= button "Generate Today's Tickets", generate_todays_deliveries_path if @current_user.system_user? %>
  <%= button "Add Delivery", @current_user.system_user? ? new_delivery_path : new_store_delivery_path(@current_user.store) %>
  <%= button "Print Tickets <span id='ticket_count'>#{Delivery.pending.by_date.count}</span>", print_todays_deliveries_path(:format => :pdf) if @current_user.system_user? %>
  
  <div id="schedule">
    <% deliveries = Delivery.all %>
    <%= calendar(:year => @date.year, :previous_month_text => pre, :month  => @date.month, :next_month_text => nex) do |d| 
    deliveries_array = deliveries.map(&:delivery_date).map{|c| c.to_date unless c.nil? }
    if deliveries_array.include?(d) 
    index=deliveries_array.index d
    [link_to(d.mday, deliveries_path(:date => d)), {:class => "specialDay"}]
    else [d.mday, {:class => "day"}] end
    end %>
  </div>
  
  <h2>Deliveries</h2>
  <%= link_to "Pending Deliveries", @current_user.system_user? ? pending_deliveries_path : pending_store_deliveries_path(@current_user.store) %> (<%= @delivery_klass.pending.count %>)<br />
  <%= link_to "Delivered Deliveries", @current_user.system_user? ? delivered_deliveries_path : delivered_store_deliveries_path(@current_user.store) %> (<%= @delivery_klass.delivered.count %>)  <small><em>(History)</em></small><br />
  <% if @current_user.system_user? %>
    <%= link_to "Printed Deliveries", printed_deliveries_path %> (<%= @delivery_klass.printed.count %>)
  <% end %>
  <% if @current_user.system_user? %>
  <br />
    <%= link_to "Canceled Deliveries", canceled_deliveries_path %> (<%= @delivery_klass.canceled.count %>)
  <% end %>
<% end %>
