<% title(@controller.action_name =~ /index/ ? "#{'My ' unless @current_user.super?} Deliveries" : "#{'My ' unless @current_user.super?}Deliveries / #{@controller.action_name.titleize}") %>

<% if @current_user.show_hints? %>
<div class="tip" id="help">
<h2>Welcome <%= @current_user.username %>,</h2>
<p>You can create, update and cancel a delivery by using the tools below. When a delivery changes we will be notified by email and update the order.</p>
<div style="text-align: right;"><%= link_to_remote "Turn Off hints?", {:url => turn_off_hints_path, :success => %($('help').hide();)}, {:alt => "Turn off application hints and tips?",:title => "Turn off application hints and tips?"} %></div>
</div>
<% end %>

<% @deliveries.group_by{|d| d.created_at.strftime("%m/%d/%Y") }.each do |created,deliveries| %>
  <% deliveries.group_by{|d| d.store }.each do |store, deliveries| %>
    <div class="span-16" style="margin: 1em 0;padding: 1em 0.0em; background: #eee; border: 1px solid #aaa">
      <strong style="padding: 0.6em">
        <%= store.name %>
        <%= icon "calendar-day" %> <%= created %>
      </strong>
    </div>
    <% deliveries.each do |delivery| %>
      <table>
        <tr>
          <% unless @current_user.store? %>
            <th>&nbsp;</th>
          <% end %>
          <th>Address</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
        <tr>
          <% unless @current_user.store? %>
            <td><%= delivery_action_link(delivery) %></td>
          <% end %>
          <td><%= link_to delivery.store.to_google, delivery %></td>
          <td align="right">
          <div id="ticket_for_<%= delivery.object_id %>" style="display: none;">
            
            <%= render :partial => "ticket", :locals => {:delivery => delivery } %>
          </div>
          <%= link_to icon("ticket"), "#ticket_for_#{delivery.object_id}", {:rel => "ibox&width=600&height=500", :onclick => %($('#ticket_for_#{delivery.object_id}').show())} %> 
          <%= link_to_function(icon("balloon-left"), "show_comment_fields('#{ delivery.object_id}')") %>
          <%= link_to icon("eye",:alt => "Show", :title => "Show"), delivery %></td>
          <td align="right"><%= link_to icon("pencil-small"), edit_delivery_path(delivery) %></td>
          <td align="right"><%= link_to icon("cross-circle-frame"), delivery, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
        <% unless delivery.comments.empty?%>
          <tr>
            <td colspan="5"><strong><%= delivery.comments.size %> Comments</strong></td>
          </tr>
        <% end %>
        <% for comment in delivery.comments %>
          <tr>
            <td colspan="5"><%= comment.body %></td>
          </tr>
        <% end %>
        <tr style="display: none;" id="<%= delivery.object_id %>">
          <td colspan="<%= @current_user.store? ? 4 : 5 %>">
            <% form_for delivery.comments.new do |f| %>
            <form>
              <%= f.text_area :body, :rows => 4, :cols => 40 %>
              <br />
              <%= f.hidden_field :commentable_id, :value => delivery.id %>
              <%= f.hidden_field :commentable_type, :value => "Delivery" %>
              <%= f.submit "Save" %>
            <% end %>
          </td>
        </tr>
      </table>
    <% end %>

  <% end %>
<% end %>


<% content_for :toolbar do %>
  <% if current_user.user.admin? %>
    <% if Delivery.pending.size > 0 %>
      <%= link_to "Show Route", map_deliveries_path, :class => "toolbutton" %>
    <% end %>
    <%= link_to "Pending", pending_deliveries_path, :class => "toolbutton" %>    <%= link_to "Delivered", delivered_deliveries_path, :class => "toolbutton" %>
  <% end %>
  <span><%= render :partial => "shared/weather" if @weather %></span>
<% end %>


<% content_for :sidebar do %>
  <%= button "Generate Today's Tickets", generate_todays_deliveries_path if @current_user.super? %>
  <%= button "Add Delivery", @current_user.super? ? new_delivery_path : new_store_delivery_path(@current_user.store) %>
  <%= button "Print Tickets", print_todays_deliveries_path if @current_user.super? %>
  <h2>Deliveries</h2>
  (<%= @delivery_klass.pending.count %>) <%= link_to "Pending Deliveries", pending_deliveries_path %><br />
  (<%= @delivery_klass.delivered.count %>) <%= link_to "Delivered Deliveries", delivered_deliveries_path %>
<% end %>
