<% title(@controller.action_name =~ /index/ ? "#{'My ' unless @current_user.super?} Deliveries" : "#{'My ' unless @current_user.super?}Deliveries / #{@controller.action_name.titleize}") %>

<% if @current_user.show_hints? %>
<div class="tip" id="help">
<h2>Welcome <%= @current_user.username %>,</h2>
<p>You can create, update and cancel a delivery by using the tools below. When a delivery changes we will be notified by email and update the order.</p>
<div style="text-align: right;"><%= link_to_remote "Turn Off hints?", {:url => turn_off_hints_path, :success => %($('help').hide();)}, {:alt => "Turn off application hints and tips?",:title => "Turn off application hints and tips?"} %></div>
</div>
<% end %>

<% form_for "deliveries[]", :id => nil, :url => {:controller => "deliveries", :action => "update_status"} do |f| %>

<div style="border: 2px solid #ebebeb; padding: 0.5em; margin: 0.5em;">
   <select id="message" name="message">
     <% unless params[:action] == "delivered" %>
       <option value="deliver">Delivered</option>
    <% end %>
    <% unless params[:action] == "pending" %>
      <option value="undeliver">Pending</option>
    <% end %>
    <% unless params[:action] == "canceled" %>
      <option value="cancel">Cancel</option>
    <% end %>
    <% unless params[:action] == "printed" %>
      <option value="print">Printed</option>
    <% end %>
   </select>
   &nbsp;
   <%= link_to_function "Select All" do |page|
     page.select('.checkbox').each{|element| element.checked = true }
   end %>
   &nbsp;
   <%= link_to_function "Select None" do |page|
      page.select('.checkbox').each{|element| element.checked = false }
    end %>
    <%= check_box_tag :print %> Print Selected &nbsp;
    <%= image_submit_tag "buttons/default/button-save.png", :style => "vertical-align: middle;" %>
</div>

<% @deliveries.group_by{|d| d.delivery_date.strftime("%m/%d/%Y") }.each do |created,deliveries| %>
  <% deliveries.sort_by{|d| d.store.position }.group_by{|d| d.store }.each do |store, deliveries| %>
  <% next if store.nil? %>
    <div class="span-14" style="margin: 1em 0;padding: 1em 0.0em; background: #eee; border: 1px solid #aaa">
      <strong style="padding: 0.6em">
        <%= store.name.titleize %>
        <%= icon "calendar-day" %> <%= created %>
      </strong>
    </div>    
    <%= render :partial => deliveries, :locals => {:builder => f} %>
  <% end %>
<% end %>

<div style="border: 2px solid #ebebeb; padding: 0.5em; margin: 0.5em;">
  <%= link_to_function "Select All" do |page|
     page.select('.checkbox').each{|element| element.checked = true }
   end %>
   &nbsp;
   <%= link_to_function "Select None" do |page|
      page.select('.checkbox').each{|element| element.checked = false }
    end %>
  <%= image_submit_tag "buttons/default/button-save.png", :style => "vertical-align: middle;" %>
</div>

<% end %>


<% content_for :toolbar do %>
  <span><%= render :partial => "shared/weather" if @weather %></span>
<% end %>


<% content_for :sidebar do %>
  <%#= button "Generate Today's Tickets", generate_todays_deliveries_path if @current_user.super? %>
  <%= button "Add Delivery", @current_user.super? ? new_delivery_path : new_store_delivery_path(@current_user.store) %>
  <%= button "Print Tickets #{Delivery.unprinted.size}", print_todays_deliveries_path(:format => :pdf) if @current_user.super? %>
  
  <div id="schedule">
    <% deliveries = Delivery.all %>
    <%= calendar(:year => @date.year, :previous_month_text => pre, :month  => @date.month, :next_month_text => nex) do |d| 
    deliveries_array = deliveries.map(&:delivery_date).map{|c| c.to_date unless c.nil? }
    if deliveries_array.include?(d) 
    index=deliveries_array.index d
    [link_to(d.mday, deliveries_path(:date => d)), {:class => "specialDay"}]
    else [d.mday, {:class => "day"}] end
    end %>
  </div>
  
  <h2>Deliveries</h2>
  <%= link_to "Pending Deliveries", @current_user.super? ? pending_deliveries_path : pending_store_deliveries_path(@current_user.store) %> (<%= @delivery_klass.pending.count %>)<br />
  <%= link_to "Delivered Deliveries", @current_user.super? ? delivered_deliveries_path : delivered_store_deliveries_path(@current_user.store) %> (<%= @delivery_klass.delivered.count %>)  <small><em>(History)</em></small><br />
  <% if @current_user.super? %>
    <%= link_to "Printed Deliveries", printed_deliveries_path %> (<%= @delivery_klass.printed.count %>)
  <% end %>
  <% if @current_user.super? %>
  <br />
    <%= link_to "Canceled Deliveries", canceled_deliveries_path %> (<%= @delivery_klass.canceled.count %>)
  <% end %>
<% end %>
