<% title(@controller.action_name =~ /index/ ? "#{'My ' unless @current_user.super?} Deliveries" : "#{'My ' unless @current_user.super?}Deliveries / #{@controller.action_name.titleize}") %>

<% if @current_user.show_hints? %>
<div class="tip" id="help">
<h2>Welcome <%= @current_user.username %>,</h2>
<p>You can create, update and cancel a delivery by using the tools below. When a delivery changes we will be notified by email and update the order.</p>
<div style="text-align: right;"><%= link_to_remote "Turn Off hints?", {:url => turn_off_hints_path, :success => %($('help').hide();)}, {:alt => "Turn off application hints and tips?",:title => "Turn off application hints and tips?"} %></div>
</div>
<% end %>

<% @deliveries.group_by{|d| d.created_at.strftime("%m/%d/%Y") }.each do |created,deliveries| %>
  <% deliveries.group_by{|d| d.store }.each do |store, deliveries| %>
    <div class="span-16" style="margin: 1em 0;padding: 1em 0.0em; background: #eee; border: 1px solid #aaa">
      <strong style="padding: 0.6em">
        <%= store.name.titleize %>
        <%= icon "calendar-day" %> <%= created %>
      </strong>
    </div>    
    <%= render :partial => deliveries %>
  <% end %>
<% end %>


<% content_for :toolbar do %>
  <% if current_user.user.admin? %>
    <% if Delivery.pending.size > 0 %>
      <%= link_to "Show Route", map_deliveries_path, :class => "toolbutton" %>
    <% end %>
    <%= link_to "Pending", pending_deliveries_path, :class => "toolbutton" %>    <%= link_to "Delivered", delivered_deliveries_path, :class => "toolbutton" %>
  <% end %>
  <span><%= render :partial => "shared/weather" if @weather %></span>
<% end %>


<% content_for :sidebar do %>
  <%#= button "Generate Today's Tickets", generate_todays_deliveries_path if @current_user.super? %>
  <%= button "Add Delivery", @current_user.super? ? new_delivery_path : new_store_delivery_path(@current_user.store) %>
  <%= button "Print Tickets #{Delivery.unprinted.size}", print_todays_deliveries_path(:format => :pdf) if @current_user.super? %>
  <h2>Deliveries</h2>
  (<%= @delivery_klass.pending.count %>) <%= link_to "Pending Deliveries", @current_user.super? ? pending_deliveries_path : pending_store_deliveries_path(@store) %><br />
  (<%= @delivery_klass.delivered.count %>) <%= link_to "Delivered Deliveries", @current_user.super? ? delivered_deliveries_path : delivered_store_deliveries_path(@store) %> <small><em>(History)</em></small>
<% end %>