<% title "Delivery" %>

<p>
  <strong>Customer:</strong>
  <%=h @delivery.customer.name %>
</p>
<p>
  <strong>Status:</strong>
  <%=h @delivery.state.titleize %>
</p>

<p>
  <strong>Driver:</strong>
  <%=h @delivery.employee.fullname %>
</p>

<h2>Items</h2>

<% unless @delivery.items.empty? %>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
<% for item in @delivery.items %>
  <tr>
    <td><%= item.name %></td>
    <td><%= number_to_currency item.price %></td>
  </tr>
<% end %>
</table>
<% end %>

<p>
  <%= link_to "Edit", edit_delivery_path(@delivery) %> |
  <%= link_to icon("cross-circle-frame"), @delivery, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", deliveries_path %>
</p>

<% content_for :sidebar do %>
  <%= delivery_action_link(@delivery, true) %>
  <% if @delivery.delivered? %>
  <%= button "Add Buy Back", new_delivery_buy_back_path(@delivery) %>
  <p>You can manually enter a buy back for this  delivery.
    Generally BuyBacks are created via the API from the iPhone application.</p>
    <% unless @delivery.buy_backs.empty? %>
      <%= render "buy_backs" %>
    <% end %>
  <% end # if @delivery.delivered? %>
<% end %>