- title "SMS Message"

%p
  Sent To:
  = @sms_message.prefix

%p
  From:
  = link_to @sms_message.user.username, admin_user_path(@sms_message.user.id)

%p
  Received:
  = @sms_message.created_at.to_s(:short)

%p
  Body:
  %br
  = @sms_message.body
  
- content_for :sidebar do
  %ul{:class => "sidebar"}
    %li{:class => "header"}
      SMS Message Tools
    %li
      = link_to "Show all (unread) messages", admin_sms_path(:filter => 'unread')
      = link_to "Show all (read) messages", admin_sms_path(:filter => 'read')