- title "Edit Store"

= render :partial => 'form'

- content_for :sidebar do
  %ul.sidebar
    %li.header= @store.name
    %li.li= @store.full_address
    %li= @store.phone
    %li= link_to "All Stores", admin_stores_path
