<% form_for @customer do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <ul id="locations">
    <% @customer.locations.each do |location_record| %>
      <%= render :partial => "location_form", :locals => {:location_record => location_record} %>
    <% end %>
  </ul>
  <p><%= f.submit "Submit" %></p>
<% end %>

<% content_for :sidebar do %>
  <%= link_to_function("Add Location",nil,:id => "add_location", :class => "toobar") do |page|
        page.insert_html(:top, :locations, :partial => "location_form",    :locals => {:location_record => @customer.locations.build})
        page.visual_effect(:highlight, :locations)
  end %>
<% end %>