<% form_for @customer do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <% @customer.locations.each_with_index do |location_record, index| %>
    <fieldset>
    <legend><strong>Location <%= index+1 %></strong></legend>
    <% fields_for location_record do |location| %>
      <%= location.error_messages %>
      <%= render :partial => "location", :locals => {:f => location} %>
    <% end %>
    </fieldset>
  <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>
