<div id="edit_location_<%= f.object.id %>">
<p>
  <%= f.label :manager %><br />
  <%= f.text_field :manager %>
</p>
<p>
  <%= f.label :address %><br />
  <%= f.text_field :address %>
</p>
<p>
  <table style="width: 300px;">
    <tr>
      <td><%= f.label :city %></td>
      <td><%= f.label :state %></td>
    </tr>
    <tr>
      <td><%= f.text_field :city, :size => 12 %></td>
      <td><%= f.select :state, State.list, {:selected => "NE"} %></td>
    </tr>
    <tr>
      <td><%= f.label :zipcode %></td>
      <td><%= f.label :country %></td>
    </tr>
    <tr>
      <td><%= f.text_field :zipcode, :size => 8 %></td>
      <td><%= f.select :country, Country.list, {:selected => "United States"}, {:style => "width: 100px"} %></td>
    </tr>
  </table>
</p>

<p>
  <%= f.label :phone %><br />
  <%= f.text_field :phone %>
</p>
<p>
  <%= f.label :fax %><br />
  <%= f.text_field :fax %>
</p>
<p>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</p>
</div>