<% title "Edit Customer" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @customer %> |
  <%= link_to "View All", customers_path %>
</p>

<% content_for :sidebar do %>
  <h2><%= @customer.name %></h1>
  <ul>
    <li><strong>Locations</strong></li>
    <% @customer.locations.each do |location| %>
      <li><%= location.full_address %></li>
    <% end %>
  </ul>
  
  <% unless @customer.deliveries.empty? %>
  <ul>
    <li><strong>Deliveries</strong></li>
    <% @customer.deliveries.each do |delivery| %>
      <li class="<%= delivery.delivered? ? 'strikeout' : '' %>">
      <span class="label"><%= delivery.state %></span>
      <span><%= delivery.delivery_time %></span></li>
    <% end %>
  </ul>
  <% end %>
  
<% end %>