<% title "Customers" %>

<table>
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% for customer in @customers %>
    <tr>
      <td><%=h customer.name %></td>
      <td><%= link_to(h(customer.website),customer.website, :target => "_blank") %></td>
      <td><%= link_to "Locations", customer_locations_path(customer) %></td>
      <td><%= link_to "Show", customer %></td>
      <td><%= link_to "Edit", edit_customer_path(customer) %></td>
      <td><%= link_to "Destroy", customer, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Customer", new_customer_path %></p>

<% content_for :sidebar do %>
  <%= link_to image_tag("buttons/mocha-blues/add-customer.png", :alt => "Add Customer"), new_customer_path %>
<% end %>
