<% title @customer.name %>

<p>
  <strong>Name:</strong>
  <%=h @customer.name %>
</p>
<p>
  <strong>Website:</strong>
  <%=h @customer.website %>
</p>

<p>
  <%= link_to icon("pencil-small"), edit_customer_path(@customer) %> |
  <%= link_to icon("cross-circle-frame"), @customer, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", customers_path %>
</p>

<% content_for :sidebar do %>
  <h2><%= @customer.name %>'s Locations</h2>
  <p>Below is a list of all associated locations to this customer.</p>
  <ul>
  <% @customer.locations.each do |location| %>
    <li class="sidebar">
      <strong><%= icon("store") %> <%= @customer.name %></strong><br />
      <%= location.full_address %>
      <br />
      <%= location.phone %> 
      <%= link_to icon("pencil-small"), edit_location_path(location) %>
      <%= link_to icon("cross-circle-frame"), location_path(location), :method => :delete, :confirm => "Are you sure?" %>
      <br />
    </li>
  <% end %>
  </ul>
<% end %>
