<% form_for @delivery_preset do |f| %>
  <%= f.error_messages %>
  <p>
    <strong><%= @delivery_preset.store.display_name %></strong>
  </p>
  <p>
    <%= f.label :day_of_week %><br />
    <%= f.select :day_of_week, %w(SUN MON TUE WED THU FRI SAT), {},{:disabled => false, :value => @delivery_preset.day_of_week.upcase } %>
  </p>
  
  <table id="line_items">
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    <% Item.available.each do |item| %>
      <% if line_item = @delivery_preset.line_items.detect{|li| li.item == item} %>
        <%= render :partial => "delivery_presets/line_item", :object => line_item %>
      <% else %>
        <%= render :partial => "delivery_presets/line_item", :object => @delivery_preset.line_items.build(:quantity => 0, :item => item) %>
      <% end %>
    <% end %>
  </table>
  
  <p><%= f.submit "Save" %></p>
<% end %>
