<% form_for [@delivery,@buy_back] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :delivery_id %><br />
    <%= f.text_field :delivery_id %>
  </p>
  <p>
    Status: <%= @buy_back.state || "New" %>
  </p>
  <p>
    <%= f.label :tax %><br />
    <%= f.text_field :tax %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :raised_donut_count %><br />
    <%= f.text_field :raised_donut_count %>
  </p>
  <p>
    <%= f.label :cake_donut_count %><br />
    <%= f.text_field :cake_donut_count %>
  </p>
  <p>
    <%= f.label :roll_count %><br />
    <%= f.text_field :roll_count %>
  </p>
  <p>
    <%= f.label :donuthole_count %><br />
    <%= f.text_field :donuthole_count %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
