<% form_for [@delivery,@buy_back] do |f| %>
  <%= f.error_messages %>
  
  <fieldset>
    <legend>
      <ul class="span-22 inline">
        <li class="span-22" style="display: block;">
          <%= f.label :delivery_id %>
          <%= f.collection_select :delivery_id, Delivery.all, :id, :delivery_option %>
        </li>
        <li class="span-5">
          <%= f.label :donuthole_count %>
          <%= f.text_field :donuthole_count, :size => 4 %>
        </li>
        <li class="span-5">
          <%= f.label :roll_count %>
          <%= f.text_field :roll_count, :size => 4 %>
        </li>
        <li class="span-5">
          <%= f.label :raised_donut_count %>
          <%= f.text_field :raised_donut_count, :size => 4 %>
        </li>
        <li class="span-5">
          <%= f.label :cake_donut_count %>
          <%= f.text_field :cake_donut_count, :size => 4 %>
        </li>
        <li style="display: block;">
          <%= f.label :tax, "Sales Tax:" %>
          <%= f.text_field :tax, :size => 4 %>
        </li>
        <li style="display: block;">
          <%= f.label :price, "Total:" %>
          <%= f.text_field :price, :size => 4 %>
        </li>
      </ul>
      <%= f.submit :save %>
    </legend>
  </fieldset>

<% end %>
