<% title "Buy Backs" %>

<div class="span-14">
<table class="stripe">
  <tr>
    <th>Delivery</th>
    <th>Status</th>
    <th style="text-align: right;">Tax</th>
    <th style="text-align: right;">Price</th>
    <th style="text-align: right;">Total</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% for buy_back in @buy_backs %>
    <tr>
      <td><%= link_to h(buy_back.delivery_id), buy_back.delivery %></td>
      <td><%=h buy_back.state.upcase %></td>
      <td style="text-align: right;"><%= number_to_currency buy_back.tax %></td>
      <td style="text-align: right;"><%= number_to_currency buy_back.price %></td>
      <td style="text-align: right;"><%= number_to_currency buy_back.total %></td>
      <td><%= link_to icon("eye",:alt => "Show", :title => "Show"), store_delivery_buy_back_path(buy_back.delivery.store, buy_back.delivery, buy_back) %></td>
      <td><%= link_to icon("pencil-small"), edit_store_delivery_buy_back_path(buy_back.delivery.store, buy_back.delivery, buy_back) %></td>
      <td><%= link_to icon("cross-circle-frame"), store_delivery_buy_back_path(buy_back.delivery.store, buy_back.delivery, buy_back),:confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
</div>

<% content_for :sidebar do %>
  <%= button "Add Buy Back", new_buy_back_path %>
<% end %>
