<% form_remote_for [:admin,@setting], :success => %(facebox.close()) do |f| %>
  <fieldset>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= icon "ui-toolbar--pencil", :theme => "default/_overlay" %> <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :time_zone, nil, {:class => "with-icon"} %><br />
    <%= icon "clock-frame" %> <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
  </p>
  <p>
    <%= f.label :email, nil, {:class => "with-icon"} %><br />
    <%= icon "mail" %> <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :address, nil, {:class => "with-icon"} %><br />
    <%= icon "card-address" %> <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city, nil, {:class => "with-icon"} %><br />
    <%= icon "building" %> <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state, nil, {:class => "with-icon"} %><br />
    <%= icon "picture-small-sunset" %> <%= f.select :state, State.list, :selected => "NE" %>
  </p>
  <p>
    <%= f.label :country, nil, {:class => "with-icon"} %><br />
    <%= icon "globe" %><%= f.select :country, Country.list, :selected => "United States" %>
  </p>
  <p>
    <%= f.label :zipcode, nil, {:class => "with-icon"} %><br />
    <%= icon "sort-number" %> <%= f.text_field :zipcode %>
  </p>
  <p>
    <%= f.label :phone, nil, {:class => "with-icon"} %><br />
    <%= icon "telephone--plus", :theme => "default/_overlay" %> <%= f.text_field :phone %>
  </p>
  <p><%= image_submit_tag "buttons/default/button-save.png" %>&nbsp;<%= link_to_function image_tag("buttons/default/button-cancel.png"), %(facebox.close()) %></p>
  </fieldset>
<% end %>
