<% form_for @item do |f| %>
  <fieldset>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= text_field_with_auto_complete :item, :name, {:onkeyup => "setText('item_title_label',this.value)"}, {:method => :get} %>
  </p>
  <p>
    <%= f.label :item_type %><br />
    <%= f.select :item_type, Item.types %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price, :size => 5, :onkeyup => "setText('item_price_label','$'+this.value+'')" %>
  </p>
  <p>
    <%= f.label :number_per_screen %><br />
    <%= f.text_field :number_per_screen, :size => 5 %>
  </p>
  <p>
    <%= icon("balance") %> <%= f.label :weight %><br />
    <%= f.text_field :weight, :size => 5 %>
  </p>
  <p>
    <%= f.check_box :available %> <%= f.label :available %>
  </p>
  <p><%= image_submit_tag "buttons/default/button-save.png" %> <%= link_to_function(image_tag("buttons/default/button-cancel.png"), %(javascript:history.back()))%></p>
  </fieldset>
<% end %>
