<% title "Items" %>

<table class="stripe">
  <tr>
    <th>Available</th>
    <th>Name</th>
    <th>Item Type</th>
    <th>Price</th>
    <th>Weight</th>
    <th style="text-align: right;">No. per screen</th>
    <th style="width: 50px">&nbsp;</th>
  </tr>
  <% for item in @items %>
    <tr onMouseOver="$('actions_for_<%= item.object_id %>').show();" onMouseOut="$('actions_for_<%= item.object_id %>').hide();">
      <td><%= item.available? ? icon("tick-circle-frame") : icon("slash") %></td>
      <td><%= link_to h(item.name), item %></td>
      <td><%=h item.item_type %></td>
      <td><%= number_to_currency item.price %></td>
      <td><%= item.weight %> ozs.</td>
      <td style="text-align: right;">
        <%= item.number_per_screen %>
      </td>
      <td>
        <span style="display: none;" id="actions_for_<%= item.object_id %>"><%= link_to icon("pencil-small"), edit_item_path(item) %> <%= link_to icon("cross-circle-frame"), item, :confirm => 'Are you sure?', :method => :delete %></span>
      </td>
    </tr>
  <% end %>
</table>

<% content_for :sidebar do %>
  <%= button "Add Item", new_item_path %>
  <br />
  <%= render :partial => "screen_calculator_form" %>
<% end %>
