<% title "Dashboard" %>

<% content_for :toolbar do %>
  <%= render :partial => "shared/weather" %>
<% end %>

<div class="span-24">  
  <div class="span-11 metric">
    <h1><%= icon "money" %> Buybacks</h1>
    <%= image_tag BuyBack.metric_chart.to_url %>
  </div>
  
  <div class="span-11 metric">
    <h1><%= icon "box" %> Deliveries</h1>
    <%= image_tag Delivery.metric_chart %>
  </div>
  
  <div class="span-11 metric">
    <h1><%= icon "flask" %> Items</h1>
    <%= image_tag Item.metric_chart(Store.first).to_url %>
  </div>
</div>