<% title "Dashboard" %>

<% content_for :toolbar do %>
  <%= render :partial => "shared/weather" %>
<% end %>

<div class="span-24">
  <div class="span-11 metric">
    <h1><%= icon "stats4.gif", :theme => :none %> Recent Activity</h1>
    <em>( <%= Time.zone.now.at_beginning_of_week.strftime("%m/%d/%Y") %> - <%= Time.zone.now.at_end_of_week.strftime("%m/%d/%Y") %> )</em>
    <ol>
    <% Delivery.delivered_this_week.each do |delivery| %>
      <li><strong><%= delivery.store.display_name %></strong>, <%= link_to delivery.description, store_delivery_path(delivery.store, delivery) %></li>
    <% end %>
    </ol>
  </div>
  
  <div class="span-11 metric">
    <h1><%= icon "money" %> Buybacks</h1>
    <%= image_tag BuyBack.metric_chart.to_url %>
  </div>
  
  <div class="span-11 metric">
    <h1><%= icon "flask" %> Items</h1>
    <%= image_tag Item.metric_chart(Store.first).to_url %>
  </div>
</div>

