%table{:class => "span-14"}
  %thead
    %tr
      - %w(mon tue wed thu fri sat sun).each do |day|
        %th
          = current_weekday day
      
  %tbody
    %tr
      - %w(mon tue wed thu fri sat sun).each do |day|
      - schedules = @this_weeks_schedules.collect{|s| s if s.work_date.strftime("%a").downcase == day }
        %td{:style => "width: 250px"}
          - unless schedules.any?
            OFF
            %br 
            =# link_to_facebox "New", new_admin_employee_schedule_path(@employee)
            %br
          - else
            - schedules.each do |schedule|
              - next if(schedule.nil?)
              %span{:id => "schedule_#{schedule.id}" }
                = render :partial => "schedule_week", :locals => {:schedule => schedule}
              %small
                = link_to_facebox "Edit", edit_admin_employee_schedule_path(schedule.employee,schedule)
                = link_to "Destroy", admin_employee_schedule_path(schedule.employee,schedule), :confirm => "Are you sure?", :method => :delete
              %br

- content_for :sidebar do
  %h1 
    = @employee.fullname
  %div{:class => "store-balance"}
    Total: 
    = pluralize(@total_hours,"Hour")

  %small 
    Schedule for: 
    = current_schedule
   
  = button "Print Schedule", admin_employee_schedule_path(@schedule.employee,@schedule, :format => :pdf)