<% form_remote_for [:admin, @user], :success => %(facebox.close()) do |f| %>
  <fieldset>

  <%= f.error_messages %>
  <% if 1==2%>
  <% if false #facebook_session %>
  <span class="fb_pic" style="float: right">
    <%= fb_profile_pic(facebook_session.user,:size => :thumb, 'facebook-logo' => true) %>
  </span>
  <% else %>
    <span class="fb_connect_button">
      <%= fb_login_and_redirect(edit_admin_user_url(@user), :format => :js) %>
    </span>
  <% end %>
  <% end %>
  
  <% if @user.new_record? %>
  <p>
    <%= f.label :username, nil, {:class => "with-icon"} %><br />
    <%= icon("user-silhouette") %> <%= f.text_field :username %>
  </p>
  <% end %>
  
  <p>
    <%= f.label :email, nil, {:class => "with-icon"} %><br />
   <%= icon "mail" %> <%= f.text_field :email %>
  </p>
  
  <p>
    <%= f.label :show_hints, "Turn on Hints?", {:class => "with-icon"} %><br />
    <%= icon "information-balloon" %> <%= f.select :show_hints, [["Yes",true],["No",false]] %>
  </p>
  
  <p>
    <%= f.label :password, nil, {:class => "with-icon"} %><br />
    <%= icon "lock" %> <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, nil, {:class => "with-icon"} %><br />
    <%= icon "lock" %> <%= f.password_field :password_confirmation %>
  </p>
  
  <p>
    <%= f.label :mobile_number, nil, {:class => "with-icon"} %><br />
    <%= icon "mobile" %> <%= f.text_field :mobile_number %>
  </p>
  
  <p>
    <%= f.label :time_zone, nil, {:class => "with-icon"} %><br />
    <%= icon "clock-frame" %>  <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
  </p>
  
  <p>
    <h2>Roles and Permissions</h2>
    <ul>
    <% Role.all.each do |role| %>
      <li><%= check_box_tag "user[roles_ids][]", role.id, @user.roles.include?(role), :disabled => (@user.super? && role.name=="admin") %> <%= role.name.titleize %>
      <% if (@user.super? && role.name=="admin") %>  
        <%= hidden_field_tag "user[roles_ids][]", role.id %>
        &nbsp;&nbsp;<em>(Admin must remain admin)</em>
      <% end %>
      </li>
    <% end %>
    </ul>
  </p>

  <p>
    <%= f.check_box :api_enabled %> <%= f.label :api_enabled %>
  </p>
  
  <p>
    <%= f.check_box :has_special_pricing %> <%= f.label :has_special_pricing %>
  </p>
  
  <p>
    <%= image_submit_tag "buttons/default/button-save.png", :style => "vertical-align: middle;" %>
    &nbsp;<%= image_tag("buttons/default/button-cancel.png", :style => "vertical-align: middle;", :onclick => %(facebox.close())) %>
  </p>
  </fieldset>
<% end %>

<script type="text/javascript" charset="utf-8">
  try {
  FB.XFBML.Host.parseDomTree();
  } catch(err) {}
</script>