<% form_for [@customer,@location] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :customer_id, "Customer" %><br />
    <%= f.collection_select :customer_id, Customer.all, :id, :name %>
    <%= link_to icon("plus"), new_customer_path %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= text_field_with_auto_complete :store, :address, {}, {:method => :get} %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= text_field_with_auto_complete :store, :city, {}, {:method => :get} %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.select :state, State.list, :selected => "NE" %>
  </p>
  <p>
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.select :country, Country.list, :selected => "United States" %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :manager %><br />
    <%= f.text_field :manager %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
