<% title "Katies Daylight Donuts Locations" %>

<% if @customers %>
<ul class="addresses">
  <% @customers.each do |customer| %>
  <li>
    <p style="background: #DBDBDB; padding: 1em;">
      <%= customer.name %>
    </p>
    <br />
    <p style="padding:0.5em;">
    <% customer.locations.each do |location| %>
      <%= location.full_address %>
      <br />
      <% if !location.phone.blank? %>
        <%= h location.phone %>
      <br />
      <% end %>
      <% if !location.fax.blank? %>
        <%= h location.fax %>
        <br />
      <% end %>
      Coords: Lat: <%= location.lat %>, Long: <%= location.lng %>
      <%= mail_to location.email, location.email %>
    <br />
      <%= link_to "Google Map", "http://maps.google.com/?q=#{location.to_google}" %>
      <% if current_user %>
      <%= link_to icon("eye",:alt => "Show", :title => "Show"), location_path(location) %> | 
      <%= link_to "Edit", edit_customer_location_path(location.customer,location) %> | 
      <%= link_to icon("cross-circle-frame"), customer_location_path(customer,location), :confirm => 'Are you sure?', :method => :delete %>
      <p>&nbsp;</p>
      <hr />
      </p>
      <% end %>
    <% end %>
  </li>
  <% end %>
</ul>

<% if current_user %>
  <p><%= link_to "New Location", new_location_path %></p>
<% end %>


<% content_for :sidebar do %>
  <%= button "Add Location", new_location_path %>
  <% if @current_user %>
  <%= link_to image_tag("buttons/mocha-blues/add-location.png", :alt => "Add Location"), new_customer_location_path(@customer)%>
  <% else %>
    <strong>Locations</strong>
    <p>You can find Katies Daylight Donuts at any of our distributors stores.</p>
    <br />
    <p>Enter your zipcode to find locations near you.</p>
    <% form_tag search_locations_path do %>
      <%= select :miles, {},(5..100).to_a %> miles from <%= text_field_tag :zipcode, {},{:size => 8, :value => 68826} %><br />
      <%= submit_tag :search %>
    <% end %>
  <% end %>
<% end %>
<% else #if @customers %>
  <p>No locations found.</p>
<% end #if @customers%>